In [53]:
############# web scraping #############

from bs4 import BeautifulSoup
import requests
import pandas as pd
from pandas import Series, DataFrame

url = 'https://www.imf.org/external/np/sec/memdir/memdate.htm'
result = requests.get(url)
c = result.content
soup=BeautifulSoup(c,'lxml')
summary = soup.find('div',{'id':'content-main'})                          #find the particular div
tables = summary.find_all('table')                                        #get the table within the div

## grab the table and get all the text within
data = {'country':[],'date':[]}
rows = tables[0].findAll('tr')
for tr in rows:
    cols = tr.findAll('td')
    n = 0
    for td in cols:
        text = td.find(text=True)           
        if n == 0:
            data['country'].append(text)
        else:
            data['date'].append(text)
        n=n+1

data['country'].pop(0)                                                    #get ride of the first row
df = DataFrame(data)
df.head(10)

            country                          date
0            Member  Effective Date of Membership
1           Belgium             December 27, 1945
2           Bolivia             December 27, 1945
3            Canada             December 27, 1945
4             China             December 27, 1945
5          Colombia             December 27, 1945
6  (Czechoslovakia)           (December 27, 1945)
7             Egypt             December 27, 1945
8          Ethiopia             December 27, 1945
9            France             December 27, 1945

            country                          date
0            Member  Effective Date of Membership
1           Belgium             December 27, 1945
2           Bolivia             December 27, 1945
3            Canada             December 27, 1945
4             China             December 27, 1945
5          Colombia             December 27, 1945
6  (Czechoslovakia)           (December 27, 1945)
7             Egypt             December 27, 1945
8          Ethiopia             December 27, 1945
9            France             December 27, 1945